<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel da Maria</title>
  <link rel="stylesheet" th:href="@{../static/css/index.css}">
</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="logo">
      <img src="../static/img/logo-dark.png" alt="Logo Hotel da Maria">
      <h1>Hotel da Maria</h1>
    </div>
  </header>

  <!-- Hóspedes VIP -->
  <section class="section dark">
    <h2>Hóspedes VIP +</h2>
    <div class="carousel">
      <button class="prev">&#10094;</button>
      <div class="carousel-track">
        <a class="card-button" href="perfil-pet.html">
          <div class="card"><img src="../static/img/joca.png" alt="">
            <p>Joca | 13 anos</p>
          </div>
        </a>
        <div class="card"><img src="../static/img/bisteca.png" alt="">
          <p>Bisteca | 10 anos</p>
        </div>
        <div class="card"><img src="../static/img/tobias.png" alt="">
          <p>Tobias | 11 anos</p>
        </div>
        <div class="card"><img src="../static/img/rosinha.png" alt="">
          <p>Rosinha | 15 anos</p>
        </div>
        <div class="card"><img src="../static/img/elvis.png" alt="">
          <p>Elvis | 12 anos</p>
        </div>
        <div class="card"><img src="../static/img/joca.png" alt="">
          <p>Joca | 13 anos</p>
        </div>
        <div class="card"><img src="../static/img/bisteca.png" alt="">
          <p>Bisteca | 10 anos</p>
        </div>
        <div class="card"><img src="../static/img/tobias.png" alt="">
          <p>Tobias | 11 anos</p>
        </div>
        <div class="card"><img src="../static/img/rosinha.png" alt="">
          <p>Rosinha | 15 anos</p>
        </div>
        <div class="card"><img src="../static/img/elvis.png" alt="">
          <p>Elvis | 12 anos</p>
        </div>
      </div>
      <button class="next">&#10095;</button>
    </div>
  </section>

  <!-- Estrelas da casa -->
  <section class="section dark">
    <h2>Estrelas da casa</h2>
    <div class="carousel">
      <button class="prev">&#10094;</button>
      <div class="carousel-track">
        <div class="card"><img src="../static/img/alfie.png" alt="">
          <p>Alfie | 3 anos</p>
        </div>
        <div class="card"><img src="../static/img/dalila.png" alt="">
          <p>Dalila | 9 anos</p>
        </div>
        <div class="card"><img src="../static/img/raul.png" alt="">
          <p>Raul | 5 anos</p>
        </div>
        <div class="card"><img src="../static/img/gamora.png" alt="">
          <p>Gamora | 2 anos</p>
        </div>
        <div class="card"><img src="../static/img/sushi.png" alt="">
          <p>Sushi | 2 anos</p>
        </div>
        <div class="card"><img src="../static/img/alfie.png" alt="">
          <p>Alfie | 3 anos</p>
        </div>
        <div class="card"><img src="../static/img/alfie.png" alt="">
          <p>Alfie | 3 anos</p>
        </div>
        <div class="card"><img src="../static/img/dalila.png" alt="">
          <p>Dalila | 9 anos</p>
        </div>
        <div class="card"><img src="../static/img/raul.png" alt="">
          <p>Raul | 5 anos</p>
        </div>
        <div class="card"><img src="../static/img/gamora.png" alt="">
          <p>Gamora | 2 anos</p>
        </div>
        <div class="card"><img src="../static/img/sushi.png" alt="">
          <p>Sushi | 2 anos</p>
        </div>
      </div>
      <button class="next">&#10095;</button>
    </div>
  </section>

  <!-- Hóspedes mais animados -->
  <section class="section light">
    <h2>Hóspedes mais animados</h2>
    <div class="grid">
      <div class="card adopt">
        <img src="../static/img/chaveco.png" alt="">
        <p>Chaveco | 2 anos | SRD</p>
        <button>adotar</button>
      </div>
      <div class="card adopt">
        <img src="../static/img/khloe.png" alt="">
        <p>Khloe | 3 anos | SRD</p>
        <button>adotar</button>
      </div>
      <div class="card adopt">
        <img src="../static/img/fiapo.png" alt="">
        <p>Fiapo | 5 anos | SRD</p>
        <button>adotar</button>
      </div>
      <div class="card adopt">
        <img src="../static/img/madona.png" alt="">
        <p>Madonna | 1 ano | SRD</p>
        <button>adotar</button>
      </div>
      <div class="card adopt">
        <img src="../static/img/chaveco.png" alt="">
        <p>Chaveco | 2 anos | SRD</p>
        <button>adotar</button>
      </div>
      <div class="card adopt">
        <img src="../static/img/khloe.png" alt="">
        <p>Khloe | 3 anos | SRD</p>
        <button>adotar</button>
      </div>
    </div>
    <div class="grid">
      <div class="card adopt">
        <img src="../static/img/chaveco.png" alt="">
        <p>Chaveco | 2 anos | SRD</p>
        <button>adotar</button>
      </div>
      <div class="card adopt">
        <img src="../static/img/khloe.png" alt="">
        <p>Khloe | 3 anos | SRD</p>
        <button>adotar</button>
      </div>
      <div class="card adopt">
        <img src="../static/img/fiapo.png" alt="">
        <p>Fiapo | 5 anos | SRD</p>
        <button>adotar</button>
      </div>
      <div class="card adopt">
        <img src="../static/img/madona.png" alt="">
        <p>Madonna | 1 ano | SRD</p>
        <button>adotar</button>
      </div>
      <div class="card adopt">
        <img src="../static/img/chaveco.png" alt="">
        <p>Chaveco | 2 anos | SRD</p>
        <button>adotar</button>
      </div>
      <div class="card adopt">
        <img src="../static/img/khloe.png" alt="">
        <p>Khloe | 3 anos | SRD</p>
        <button>adotar</button>
      </div>
    </div>
  </section>

  <footer class="footer">
    <a href="../usuario/index.html">
      <img src="../static/img/home-dark.png" alt="Início">
    </a>
    <a href="doar.html">
      <img src="../static/img/doar.png" alt="Doações">
    </a>
    <a href="sobre.html">
      <img src="../static/img/sobre-nos.png" alt="Hóspedes">
    </a>
    <a href="perfil.html">
      <img src="../static/img/perfil.png" alt="Perfil">
    </a>
  </footer>

  <script src="../../static/js/script.js"></script>
</body>

</html>